* {
  box-sizing: border-box;
}

nav{
  background-color:black;
  padding: 1rem;
}

nav a{
  color:white;
  text-decoration: none;
  display:block;
  text-align:center;
  padding: .5rem 1rem;
  font-family: 'Space Mono', monospace;
}

nav a:hover {
  color: #999;
  transition: color .15s ease-in-out;
}

.sign-up {
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 9999px;
}

.sign-up:hover {
  color: #000;
  background-color: #fff;
  transition: background-color .15s ease-in-out;
}

@media (min-width: 600px) {
    nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav a{
    float:right;
  }
  
   .home {
    float: left;
  }
  
    /* Clearfix */
    nav::after {
    content: "";
    clear: both;
    display: block;
  }
  
  
}